/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap'); */

/* @import url('./styles/fonts/SpoqaHanSansNeo-Bold.ttf');
@import url('./styles/fonts/SpoqaHanSansNeo-Medium.ttf');
@import url('./styles/fonts/SpoqaHanSansNeo-Regular.ttf'); */

/* @font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
    url('./styles/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Neo Medium'),
    url('./styles/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
    url('./styles/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
} */
